.App {
  background-color: rgb(236, 240, 241);
  width: 100%;
  max-width: 960px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 20px;
}

Header {
  padding-bottom: 10px;
}

.welcome-title {
  text-align: center;
  margin-top: 100px;
}

.welcome-subtitle {
  font-size: 18px; /* Taille de la police du paragraphe */
  color: #555; /* Couleur du texte */
}

h2 {
  padding-bottom: 10px;
}

.logo-github {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  padding-bottom: 20px;
}

.ui.message {
  margin-top: 20px;
}

.ui.cards {
  margin-top: 20px;
}
